<template>
  <div>
    <vue-event-calendar 
      :events="events" 
      @day-changed="handleCalendarDayChange" 
      @month-changed="handleCalendarMonthChange"
    >
      <template scope="props">
        <div 
          v-for="(event, index) in props.showEvents" 
          class="event-item" 
          v-bind:key="index"
        >
          <EventItem v-bind="{event, handleEditEvent, handleDeleteEvent}" />
        </div>
      </template>
    </vue-event-calendar>
  </div>
</template>

<script>
import Vue from 'vue'
import vueEventCalendar from 'vue-event-calendar'
import 'vue-event-calendar/dist/style.css' //^1.1.10, CSS has been extracted as one file, so you can easily update it.
import EventItem from './EventItem'

Vue.use(
  vueEventCalendar, 
  {
    locale: 'en', 
    color: '#488dfb'
  }
)

export default {
  name: 'CalendarView',
  components: {
    EventItem
  },
  props: {
    events: Array,
    handleEditEvent: Function,
    handleDeleteEvent: Function,
    handleCalendarDayChange: Function,
    handleCalendarMonthChange: Function
  }
}
</script>

<style scoped>
.title{
  margin-bottom: 4rem
}
</style>
