<template>
  <div>
    <md-dialog :md-active.sync="showEditor">
      <md-dialog-title>New Calendar</md-dialog-title>
      <md-dialog-content>
        <md-field>
          <label>Title</label>
          <md-input v-model="editorEvent.title"></md-input>
        </md-field>
        <md-field>
          <label>Description</label>
          <md-textarea v-model="editorEvent.desc"></md-textarea>
        </md-field>
        <div class="editor-start-time">
          <label>Start</label>
          <datetime type="datetime" v-model="editorEvent.start"></datetime>
        </div>
        <div class="editor-end-time">
          <label>End</label>
          <datetime type="datetime" v-model="editorEvent.end"></datetime>
        </div>
        <md-chips v-model="editorEvent.participants" md-placeholder="Invite people..." />
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-default" @click="handleEditorCancel">Close</md-button>
        <md-button class="md-primary" @click="onSave">Save</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
  import moment from 'moment'
  
  export default {
    name: 'EventEditor',
    props: {
      showEditor: Boolean,
      editorEvent: Object,
      handleEditorCancel: Function,
      handleEditorSave: Function,
    },
    methods: {
      onSave() {
        const event = {
          ...this.editorEvent,
          date: moment(new Date(this.editorEvent.start)).format('YYYY/MM/DD'),
        }
        this.handleEditorSave(event)
      }
    }
  }
</script>

<style scoped>
  .md-dialog {
    min-width: 450px;
  }

  .editor-start-time,
  .editor-end-time {
    margin-top: 0.5rem;
  }
</style>
