<template>
    <div v-if="event">
        <div v-on:click="handleToggle">
            <div class="e-title" >{{event.title}}</div>
            <div class="e-date" v-if="!toggleEventDetail">{{handleFormatDate(event.start)}} --- {{handleFormatDate(event.end)}} </div>
        </div>
        <div v-if="toggleEventDetail">
            <div class="e-desc">{{event.desc}}</div>
            <div class="e-date">Start: {{handleFormatDate(event.start)}}</div>
            <div class="e-date">End: {{handleFormatDate(event.end)}}</div>
            <div class="e-participant-title">Participants:</div>
            <div class="e-participant-group">
                <div v-for="(participant, idx) in event.participants"
                     v-bind:key="idx">
                    <md-chip>{{participant}}</md-chip>
                </div>
            </div>
        </div>
        <div class="action-buttons">
            <md-button class="md-icon-button" @click="handleEdit()">
                <md-icon>edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" @click="handleDelete()">
                <md-icon>delete</md-icon>
            </md-button>
        </div>

    </div>
</template>

<script>
    import moment from 'moment'
    export default {
        name: 'EventItem',
        props: {
            event: Object,
            handleEditEvent: Function,
            handleDeleteEvent: Function,
        },
        data: () => ({
            toggleEventDetail: false
        }),
        methods: {
            handleEdit() {
                this.handleEditEvent(this.event)
            },
            handleDelete() {
                this.handleDeleteEvent(this.event)
            },
            handleToggle() {
                this.toggleEventDetail = !this.toggleEventDetail
            },
            handleFormatDate(date) {
                return  moment(date).format('YYYY/MM/DD HH:MM')
            }
        },
    }
</script>

<style scoped>
    .action-buttons {
        position: absolute;
        top: 5px;
        right: 10px;
    }

    .e-title {
        font-size: 1.2rem;
        font-weight: bold;
        padding-top: 0.5rem;
    }

    .e-desc {
        padding: 0.5rem 0;
    }

    .e-date {
        color: grey;
    }

    .e-participant-title {
        padding-top: 0.5rem;
        font-weight: bold;
    }

    .e-participant-group {
        display: flex;
        padding: 0.5rem 0;
    }
</style>