<template>
  <div class="page-container">
    <md-app md-mode="default">
      <md-app-toolbar class="md-primary">
        <span class="md-title">
          Architech Event Calendar
        </span>
      </md-app-toolbar>

      <md-app-content>
        <div class="calendar">
          <Calendar v-bind="{
            events,
            handleEditEvent,
            handleDeleteEvent, 
            handleCalendarDayChange, 
            handleCalendarMonthChange
          }" />
        </div>
      </md-app-content>
    </md-app>
    <EventEditor v-bind="{
        showEditor,
        editorEvent,
        handleEditorCancel, 
        handleEditorSave
      }" />
    <md-button 
      class="md-fab md-accent"
      @click="handleCreateEvent"
    >
      <md-icon>add</md-icon>
    </md-button>
  </div>
</template>

<script>
import Vue from 'vue'
import { v4 as uuid } from 'uuid'
import Calendar from './components/Calendar.vue'
import EventEditor from './components/EventEditor.vue'
import Datetime from 'vue-datetime'
import 'vue-datetime/dist/vue-datetime.css'
 
Vue.use(Datetime)

export default {
  name: 'app',
  components: {
    Calendar,
    EventEditor,
    Datetime,
  },
  mounted() {
    const events = JSON.parse(localStorage.getItem('events'))
    this.events = [...events]
  },
  data() {
    return {
      pageName: 'App',
      showEditor: false,
      editorEvent: null,
      events: [],
    }
  },
  methods: {
    handleEditorCancel() {
      this.showEditor = false
    },
    handleEditorSave(event) {
      // Update events array
      const { id } = event
      const index = this.events.findIndex(event => event.id === id)
      if (index === -1) {
        this.events.push(event)
      } else {
        this.events[index] = event
      }
    
      // Persist data to localstorage
      localStorage.setItem('events', JSON.stringify(this.events))

      // Hide editor
      this.showEditor = false
    },
    handleCreateEvent() {
      this.showEditor = true
      this.editorEvent = {
        id: uuid(),
        title: '',
        desc: '',
        date: '',
        start: '',
        end: '',
        participants: []
      }
    },
    handleEditEvent(event) {
      const { id } = event
      this.showEditor = true
      this.editorEvent = this.events.find(event => event.id === id)
    },
    handleDeleteEvent(event) {
      const { id } = event
      const index = this.events.findIndex(event => event.id === id)
      if (index > -1) {
        this.events.splice(index, 1)
        localStorage.setItem('events', JSON.stringify(this.events))
      }
    },
    handleCalendarDayChange() {
      console.log('Day changed')
    },
    handleCalendarMonthChange() {
      console.log('Month changed')
    }
  }
}
</script>

<style>
  .md-button.md-fab {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
</style>
